<launch>
    <arg name="config_file_location"    default="$(find zed_cpu_ros)/config/SN17454.conf"/>
    <arg name="camera_namespace"        default="zed"/>
    <!-- to find your device id, use ls /dev/ and look for the numbder after video -->
    <arg name="device_id"               default="1"/>
    <arg name="resolution"              default="3"/> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate"              default="30"/>
    <arg name="show_image"              default="false"/>
    <arg name="encoding"                default="bgr8"/>
    <arg name="use_zed_config"          default="false"/>
    <arg name="launch_rectifier"        default="true"/>

    <node pkg="zed_cpu_ros" type="zed_cpu_ros" name="zed_cpu_ros_node" output="screen" ns="$(arg camera_namespace)" required="true">
    	<param name="resolution"        value="$(arg resolution)" unless="$(eval resolution>3)"/>
    	<param name="frame_rate"        value="$(arg frame_rate)"/>
    	<param name="config_file_location" value="$(arg config_file_location)"/>
    	<param name="show_image"        value="$(arg show_image)"/>
    	<param name="left_frame_id"     value="zed/left"/>
    	<param name="right_frame_id"    value="zed/right"/>
    	<param name="use_zed_config"    value="$(arg use_zed_config)"/>
    	<param name="device_id"         value="$(arg device_id)"/>
    	<param name="encoding"          value="$(arg encoding)"/>
    </node>

    <include file="$(find zed_cpu_ros)/launch/rectifier.launch" if="$(arg launch_rectifier)"/>
</launch>
